#!/usr/bin/env bash

set -euo pipefail

TIME="${TIME:-3000}"
INTERVAL="${INTERVAL:-1}"
TABLES="${TABLES:-10}"
SCALE="${SCALE:=5}"
THREADS="${THREADS:-6}"
for i in $@; do 
case $i in 
    -c=*|--command=run|prepare|cleanup|all)
        COMMAND="${i#*=}"
        shift
        ;;
    -t=*|--time=*)
        TIME="${i#*=}"
        shift
        ;;
    -i=*|--interval=*)
        INTERVAL="${i#*=}"
        shift
        ;;
    -T=*|--tables=*)
        TABLES="${i#*=}"
        shift
        ;;
    -s=*|--scale=*)
        SCALE="${i#*=}"
        shift
        ;;
    -p=*|--threads=*)
        THREADS="${i#*=}"
        shift
        ;;
    -h|--help)
        echo "
    Run tpcc bench:
        -c=*|--command=run|prepare|cleanup, required
        -t=*|--time=*, defaults to 3000
        -i=*|--interval=*, defaults to 1
        -T=*|--tables=*, defaults to 10
        -s=*|--scale=*, defaults to 5
        -p=*|--threads=*, defaults to 6 (2 CPU with 2 threads each + 2)
        "
        exit 0
        ;;
    *)
        shift
        ;;
esac
done
>&2 echo "Execute ${COMMAND} (time=${TIME}, interval=${INTERVAL}; scale=${SCALE}, tables=${TABLES}, threads=${THREADS}"

pushd "{{ utils_path }}/sysbench-tpcc"

SCRIPT='sudo -u postgres ./tpcc.lua'
# export PATH="{{ utils_path }}/sysbench-tpcc:${PATH}"

prepare() {
    ${SCRIPT} --pgsql-host=/var/run/postgresql --pgsql-port=5432 --pgsql-user=postgres --pgsql-db=postgres --threads=${THREADS} --tables=${TABLES} --scale=${SCALE} --trx_level=RC --db-ps-mode=auto --db-driver=pgsql prepare 
}

run() {
    ${SCRIPT} --pgsql-host=/var/run/postgresql --pgsql-port=5432 --pgsql-user=postgres --pgsql-db=postgres --threads=${THREADS} --tables=${TABLES} --scale=${SCALE} --trx_level=RC --db-ps-mode=auto --db-driver=pgsql --time=${TIME} --report-interval=${INTERVAL} run 
}

cleanup() {
    ${SCRIPT} --pgsql-host=/var/run/postgresql --pgsql-port=5432 --pgsql-user=postgres --pgsql-db=postgres --threads=${THREADS} --tables=${TABLES} --scale=${SCALE} --trx_level=RC --db-driver=pgsql cleanup
}
set -x
if [[ ${COMMAND} = "prepare" ]]; then
    prepare
elif [[ ${COMMAND} = "run" ]]; then
    run
elif [[ $COMMAND = "all" ]]; then
    prepare && run 2>&1 | tee ~/bench-$THREADS-$TIME-$SCALE-$TABLES-$(date +%s).log 
else 
    cleanup
fi
