{%- set haproxy = context.haproxy -%}
{%- set app = context.app -%}

---
api:
    host: {{ app.host }}
    port: {{ app.port }}
    max_file_size: {{ app.max_file_size }}
    token_lifetime_hours: {{ app.token_lifetime_hours }}
db:
    uri: 'host=haproxy1 port={{ haproxy.pg_port }} user={{ app.db_user }} dbname={{ app.db_name }} password={{ app.db_password }} sslmode=disable'
    dialect: postgres
    debug_log: yes
