version: '3.8'

{% set zoo = context.zoo -%}
{% set patroni = context.patroni -%}
{% set ha = context.haproxy -%}
{% set app = context.app %}
{% set migrator = context.app_migrator %}
{% set tank = context.tank %}

{%- macro get_zoo_servers(id) -%}
{%- set zoo_servers = [] -%}
{%- for i in range(zoo.number) -%}
{%- set zoo_server='zoo' + (i + 1)| string -%}
{%- do zoo_servers.append('server.'+ ((i + 1) | string) + '=' + (zoo_server if i != id else "0.0.0.0") + ':2888:3888;' + zoo.base_port|string) -%}
{%- endfor -%}
{{ zoo_servers | join(' ') }}
{%- endmacro -%}

{%- macro get_local_data_dir(attached, base, i) -%}
{%- if not attached -%}
{{ base }}{{ i + 1 }}
{%- else -%}
{{ base }}
{%- endif -%}
{%- endmacro -%}

{%- macro patroni_zoo_servers() -%}
{%- set servers = [] -%}
{%- for i in range(zoo.number) -%}
{%- do servers.append('"zoo' + (i + 1) | string + ':' + zoo.base_port | string + '"') -%}
{%- endfor -%}
{{ servers | join(',') }}
{%- endmacro -%}

{%- macro get_image_name(registry, name, tag) -%}
{%- if registry -%}
{{ registry }}/{{ name }}:{{ tag }}
{%- else -%}
{{ name }}:{{ tag }}
{%- endif -%}
{%- endmacro -%}

services:
{% for i in range(zoo.number) %}
  zoo{{ i + 1 }}:
    image: zookeeper:{{ zoo.version }}
    networks:
      - patroni
    hostname: 'zoo{{ i + 1 }}'
    ports:
      - '{{ zoo.base_port + i}}:{{zoo.base_port}}'
    environment:
      ZOO_MY_ID: {{i + 1 }}
      ZOO_SERVERS: '{{ get_zoo_servers(i) }}'
      ZOO_4LW_COMMANDS_WHITELIST: {{ zoo.whitelist | join(',')}}
    deploy:
      replicas: 1
      {%- if zoo.hostname_constraint %}
      placement:
        max_replicas_per_node: 1
        constraints:
          - 'node.hostname == {{ zoo.hostname_constraint }}'
      {%- endif %}
      restart_policy:
        condition: any
{% endfor %}

{%- for i in range(patroni.number) %}
{%- set patroni_host = 'patroni' + (i + 1) | string  %}
  {{ patroni_host }}:
      image: {{ get_image_name(patroni.build.registry, patroni.build.name, patroni.build.version) }}
      networks:
        - patroni
      ports:
          - {{ patroni.db_base_port + i }}:{{ patroni.db_base_port }}
          - {{ patroni.api_base_port + i }}:{{ patroni.api_base_port }}
      hostname: {{ patroni_host }}
      volumes:
        - {{ get_local_data_dir(patroni.hostname_constraint, patroni.base_local_dir, i) }}:/data
      environment:
          - PATRONI_API_CONNECT_PORT=8091
          - REPLICATION_NAME=replicator 
          - REPLICATION_PASS=replpass
          - SU_NAME=postgres
          - SU_PASS=supass
          - POSTGRES_APP_ROLE_PASS=der_parol
          - PATRONI_ZOOKEEPER_HOSTS={{ patroni_zoo_servers() }}
      deploy:
        replicas: 1
        {%- if patroni.hostname_constraint %}
        placement:
          max_replicas_per_node: 1
          constraints:
            - 'node.hostname == {{ patroni.hostname_constraint }}'
        {%- endif %}
        restart_policy:
          condition: any
{% endfor %}


{%- for i in range(ha.number) %}
{%- set ha_host = 'haproxy' + (i + 1) | string  %}
  {{ ha_host }}:
      image: {{ get_image_name(ha.build.registry, ha.build.name, ha.build.version) }}
      networks:
        - patroni
      ports:
          - {{ ha.stats_port + i }}:{{ ha.stats_port }}
          - {{ ha.pg_port + i }}:{{ ha.pg_port }}
      hostname: {{ ha_host }}
      deploy:
        replicas: 1
        {%- if ha.hostname_constraint %}
        placement:
          max_replicas_per_node: 1
          constraints:
            - 'node.hostname == {{ ha.hostname_constraint }}'
        {%- endif %}
        restart_policy:
          condition: any
{% endfor %}

{%- for i in range(app.number) %}
{%- set app_host = 'homedb' + (i + 1) | string  %}
  {{ app_host }}:
      image: {{ get_image_name(app.build.registry, app.build.name, app.build.version) }}
      networks:
        - patroni
      ports:
          - {{ app.port + i }}:{{ app.port }}
      hostname: {{ app_host }}
      deploy:
        replicas: 1
        {%- if app.hostname_constraint %}
        placement:
          max_replicas_per_node: 1
          constraints:
            - 'node.hostname == {{ app.hostname_constraint }}'
        {%- endif %}
        restart_policy:
          condition: any
{%- endfor %}

  app_migrator:
      image: {{ get_image_name(migrator.build.registry, migrator.build.name, migrator.build.version) }}
      networks:
        - patroni
      environment:
        - PG_CONN_URL=postgresql://{{ app.db_user }}:{{ app.db_password }}@haproxy1:{{ ha.pg_port }}/{{ app.db_name }}?sslmode=disable
      deploy:
        replicas: 1
        {%- if app.hostname_constraint %}
        placement:
          max_replicas_per_node: 1
          constraints:
            - 'node.hostname == {{ app.hostname_constraint }}'
        {%- endif %}
        restart_policy:
          condition: on-failure
  
  tank:
    image: {{ get_image_name(tank.build.registry, tank.build.name, tank.build.version) }}
    networks:
      - patroni
    hostname: tank
    deploy:
      replicas: 1
      {%- if tank.hostname_constraint %}
      placement:
        max_replicas_per_node: 1
        constraints:
          - 'node.hostname == {{ tank.hostname_constraint }}'
      {%- endif %}
      restart_policy:
        condition: any

    

networks:
  patroni:
    driver: overlay
    attachable: true