{%- set patroni = context.patroni -%}
{%- set ha = context.haproxy -%}
global
    maxconn 100
    stats socket /run/haproxy/haproxy.sock 
    stats timeout 2m # Wait up to 2 minutes for input

defaults
    log global
    mode tcp
    retries 2
    timeout client 30m
    timeout connect 4s
    timeout server 30m
    timeout check 5s

resolvers docker_resolver
    nameserver dns 127.0.0.11:53

listen stats
    mode http
    bind *:{{ ha.stats_port }}
    stats enable
    stats uri /

listen postgres
    bind *:{{ ha.pg_port }}
    option httpchk
    http-check expect status 200
    default-server inter 3s fall 3 rise 2 on-marked-down shutdown-sessions
    {%- for i in range(1, patroni.number + 1, 1) %}
    server patroni{{ i }} patroni{{ i }}:{{ patroni.db_base_port }} maxconn 100 check port {{ patroni.api_base_port }}resolvers docker_resolver resolve-prefer ipv4
    {%- endfor %}