{%- set patroni = context.patroni -%}

scope: patroni
namespace: /service/

bootstrap:
    dcs:
        ttl: 4
        loop_wait: 2
        retry_timeout: 1
        maximum_lag_on_failover: 10048576
        postgresql:
            use_pg_rewind: true

    postgresql:
      use_pg_rewind: true
      remove_data_directory_on_rewind_failure: true

    initdb:
    - encoding: UTF8
    - data-checksums

    pg_hba:
    - host replication all all md5
    - host all all all md5

postgresql:
    data_dir: /data/patroni
    bin_dir: /usr/lib/postgresql/{{ patroni.build.base_version }}/bin
    pgpass: /tmp/pgpass
    parameters:
        unix_socket_directories: '.'

tags:
    nofailover: false
    noloadbalance: false
    clonefrom: false
    nosync: false
